<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Amazing Book App</title>
</head>
<body>
  <h1>The Amazing Book App</h1>
  <h2>Want to find out more about your favorite book?</h2>
  <p>Click the link to get started.</p>
  <a href='/books'>See All Books</a>
</body>
</html>
