<h1><%= @user.name %></h1>

<ul>
    <% @user.recipes.each do |recipe| %>
        <li><%= recipe.name %></li>
    <% end %>
</ul>

    <%= button_to 'Delete User', user_path(@user), method: "delete" %>