
  <h2>Want to find out more about your favorite book?</h2>
  <p>Click the link to get started.</p>
  <a href='/books'>See all Books</a>
  <br/>
  <a href='/authors'>See all Authors</a>
  <br/>
  <br/>
  <!-- need to add a link to create a new book -->
  <a href='/books/new'>Create a new book</a>

