

<h1 class="display-3" style="padding-top: 30px;">Our Family of Doctors</h1>

<div class="container">
    <div class="row row-cols-2">

        <div class="col">
            <h2 style="padding: 15px;">Featured Doctor: Doctor Who</h2>
            <div style="padding: 20px;"><%= image_tag (@random_image) %></div>
            <p>A time-traveling immortal hailing from Gallifrey, Doctor Who specializes in otherworldly illnesses and saving the day. He's currently accepting patients and looks forward to becoming your new best friend. </p>
        </div>

        <div class="col"> 
            <ul style= "list-style-type: none;">
                <% @doctors.each do |doctor| %>
                <li style="padding-top: 20px;"><h6><%= link_to doctor.name, doctor %>, <%= doctor.specialty %></h6></li>
                <% end %>
            </ul>
        </div>

    </div>
</div>

<div class="container" style="padding-top: 30px;">
    <h3>Newly regenerated? Add yourself to the family <%= link_to "here.", "/doctors/new" %></h3>
</div>